<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>

	<!-- instead write the whole name of the package in the Mapper.xml
		eg,.(resultType="com.neuedu.model.po.Department") we can use this tag to write only the class name 
		Employee is alias for com.neuedu.model.op.Employee
		Department is alias for com.neuedu.model.op.Department
		
		-->
		
	<typeAliases>
		<package name="com.neuedu.model.po"/>
	</typeAliases>
	 
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/scott"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
      </dataSource>
    </environment>
  </environments>
  
  
  
  <mappers>
<!--     <mapper resource="com/neuedu/model/mapper/EmployeeMapper.xml"/>
    	 <mapper resource="com/neuedu/model/mapper/DepartmentMapper.xml"/>
 -->
 <!-- instead of adding each mapper here we can use the name of package -->
 		<package name="com.neuedu.model.mapper"/>
   </mappers>


</configuration>